<div class="container">
  <form [formGroup]="dictatorData" class="form-group">
    <div class="row">
      <div class="col">
        <input type="text" formControlName="name" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" formControlName="lastname" class="form-control" placeholder="Last name">
      </div>
      <div class="col">
        <input type="text" formControlName="dateOfBirth" class="form-control" placeholder="Date of Birth">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" formControlName="comment" class="form-control" placeholder="Comment">
      </div>
    </div>
    <div class="col-auto my-1">
      <button (click)="onNewDictatorSubmit()" class="btn btn-primary">new evil guy</button> <br>
    </div>
    <div class="col-auto my-1">
      <button (click)="deleteThis()" class="btn btn-primary">Delete match on Name, Lastname and date of Birth</button>
    </div>
  </form>

  <div *ngFor="let dictator of dictators" class="rowBorder">
    <div class="row">
      <div class="col border">
        <label>Name: {{dictator.name}}</label>
      </div>
      <div class="col border">
        <label>Lastname: {{dictator.lastname}}</label>
      </div>
      <div class="col border">
        <label>Date of Birth: {{dictator.dateOfBirth}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col border">
        <label>{{dictator.comment}}</label>
      </div>
    </div>
  </div>
</div>